@media (max-width: 1100px) {
  .finder__wrapper {
    /* display: grid; */
    /* grid-template-columns: auto auto; */
    justify-content: center;
  }
}

@media (max-width: 840px) {
  .input {
    max-width: 450px;
  }

  .finder__subtext {
    font-size: 14px;
  }

  .finder__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .finder__title {
    font-size: 50px;
  }

  .finder__subtitle {
    font-size: 15px;
  }

  .selector {
    display: none;
  }

  .finder__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 470px) {
  .input {
    max-width: 300px;
  }
}
