.finder__bottom {
  min-height: 572px;
  padding: 80px 0 17px;
  background: #edeef3;
}

.finder__wrapper {
  gap: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.finder__box {
  padding: 24px;
  width: 316px;
  height: 184px;
  border-radius: 4px;
  border: 1px solid #dee2e6;
  background: #fff;
  cursor: pointer;
  transition: 0.5s all;
}

.finder__box:hover {
  background: rgb(237, 233, 233);
}

.finder__img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 48px;
  max-width: 48px;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.finder__emoji__name {
  margin-top: 18px;
  text-align: center;
  color: #000;
  font-size: 17px;
  font-weight: 700;
  line-height: 28px;
  text-decoration-line: underline;
}

.finder__emoji__info {
  margin-top: 12px;
  max-width: 268px;
  color: #3f444a;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.finder__footer {
  margin-top: 48px;
  /* padding: 0 0 17px; */
}

.finder__line {
  max-width: 986px;
  height: 1px;
  background: #ced4da;
}

.finder__subtext {
  margin-top: 30px;
  color: #6c757d;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
