.finder__top {
  height: 295px;
  padding: 68px 0 100px;
  border: #ced4da;
  background: linear-gradient(92deg, #087990 0.12%, #055160 100%);
}

.finder__footer {
    padding: 0 0 17px;
}

.finder__title {
  text-align: center;
  color: var(--cyan-100, #cff4fc);
  font-size: 72px;
  font-weight: 700;
  line-height: normal;
}

.finder__subtitle {
  margin-top: 4px;
  text-align: center;
  color: #cff4fc;
  font-size: 21px;
  font-weight: 400;
  line-height: 36px;
}
