.pages__holder {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
}


.pages__wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2px;
}

.pages__switch {
  padding: 12px 14px;
  width: 62px;
  height: 40px;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #dee2e6;
  background: #fff;
  color: #abb5be;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  cursor: pointer;
}

.pages__switch_blue {
  color: #055160;
  transition: 0.5s all;
}
.pages__switch_blue:hover {
  color: #fff;
  background: #055160;
}

.pages__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 14px;
  width: 36px;
  height: 40px;
  border: 1px solid #dee2e6;
  background: #fff;
  color: #055160;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  transition: 0.5s all;
  cursor: pointer;
}

.pages__btn:hover {
  color: #fff;
  background: #055160;
  height: 42px;
}

.selector {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.selector__label {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.selector__switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 11px 8px 15px;
  width: 120px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  background: #fff;
}

.selector__number {
  color: #6c757d;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.selector__svg {
  cursor: pointer;
}